<div class="w-28 h-auto bg-gradient-to-br from-amber-100 to-amber-50 rounded-xl shadow-lg hover:shadow-xl transition-all duration-300 border border-amber-200">
    <div class="flex flex-col items-center gap-1">
        <!-- Fecha -->
        <span class="text-sm font-medium text-amber-950/80">
            {{ weatherForecast?.day| date:'d MMM' }}
        </span>
        
        <!-- Temperaturas -->
        <div class="flex items-center justify-center gap-1 flex-nowrap">
            <span class="text-md font-bold text-amber-900 max-w-[70px] truncate whitespace-nowrap">
                {{ weatherForecast?.max_temperature }}º
            </span>
            <span class="text-sm text-amber-700 max-w-[45px] truncate whitespace-nowrap">
                / {{ weatherForecast?.min_temperature }}º
            </span>
        </div>

        <!-- Probabilidad de lluvia -->
        <div class="flex items-center gap-1 text-amber-700 text-sm">
            <mat-icon class="material-symbols-outlined !text-sm">water_drop</mat-icon>
            <span>{{ weatherForecast?.max_rain_probability }}%</span>
        </div>
    </div>
</div>